In [2]:
# import csv into python

import pandas as pd

In [3]:
df = pd.read_csv('df3.csv')

print(df)

   Unnamed: 0            City  Temp  temp_series  new_temp  new_temp1  \
0           0              KL    -1           19       NaN        1.0
1           1        Seremban    23           27       NaN        2.0
2           2  Seri Kembangan   -16           16       NaN        3.0
3           3       Shah Alam    33           31       NaN        NaN
4           4   Petaling Jaya    25           21       NaN        NaN

   new_temp2  empty_temp
0        4.0         NaN
1        5.0         NaN
2        6.0         NaN
3        NaN         NaN
4        NaN         NaN

In [5]:
df['City'].value_counts()

City
KL                1
Seremban          1
Seri Kembangan    1
Shah Alam         1
Petaling Jaya     1
Name: count, dtype: int64

In [6]:
df['City'].unique()

array(['KL', 'Seremban', 'Seri Kembangan', 'Shah Alam', 'Petaling Jaya'],
      dtype=object)

In [8]:
df['City'].duplicated()

0    False
1    False
2    False
3    False
4    False
Name: City, dtype: bool

In [11]:
print(df['Temp'].median())
print(df['temp_series'].median())

23.0
21.0

In [14]:
print(df['Temp'].count())
print(df['Temp'].mean())

5
12.8