In [2]:
# import csv into python

import pandas as pd

In [3]:
df = pd.read_csv('df3.csv')

print(df)

   Unnamed: 0            City  Temp  temp_series  new_temp  new_temp1  \
0           0              KL    -1           19       NaN        1.0
1           1        Seremban    23           27       NaN        2.0
2           2  Seri Kembangan   -16           16       NaN        3.0
3           3       Shah Alam    33           31       NaN        NaN
4           4   Petaling Jaya    25           21       NaN        NaN

   new_temp2  empty_temp
0        4.0         NaN
1        5.0         NaN
2        6.0         NaN
3        NaN         NaN
4        NaN         NaN